.elementor-45 .elementor-element.elementor-element-657a99f .elementor-button {
    background-color: #172F74;
    border-style: double;
}

.elementor-45 .elementor-element.elementor-element-657a99f .elementor-button:hover,
.elementor-45 .elementor-element.elementor-element-657a99f .elementor-button:focus {
    color: #172F74;
    background-color: #FFFFFF;
    border-color: #000000;
}

.elementor-45 .elementor-element.elementor-element-657a99f .elementor-button:hover svg,
.elementor-45 .elementor-element.elementor-element-657a99f .elementor-button:focus svg {
    fill: #172F74;
}

.elementor-45 .elementor-element.elementor-element-657a99f>.elementor-widget-container {
    margin: -110px -110px -110px -110px;
}

.elementor-45 .elementor-element.elementor-element-5291577 {
    text-align: center;
}

.elementor-45 .elementor-element.elementor-element-5291577 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto Serif", Sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.elementor-45 .elementor-element.elementor-element-42217b2.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-45 .elementor-element.elementor-element-42217b2.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-45 .elementor-element.elementor-element-42217b2.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-45 .elementor-element.elementor-element-42217b2 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-45 .elementor-element.elementor-element-42217b2 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-45 .elementor-element.elementor-element-42217b2 .elementor-image-box-title {
    color: #1C00FE;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.elementor-45 .elementor-element.elementor-element-42217b2 .elementor-image-box-description {
    color: #000000;
    font-family: "Roboto Serif", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-45 .elementor-element.elementor-element-14b3c1c.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-45 .elementor-element.elementor-element-14b3c1c.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-45 .elementor-element.elementor-element-14b3c1c.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-45 .elementor-element.elementor-element-14b3c1c .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-45 .elementor-element.elementor-element-14b3c1c .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-45 .elementor-element.elementor-element-14b3c1c .elementor-image-box-title {
    color: #1C00FE;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.elementor-45 .elementor-element.elementor-element-14b3c1c .elementor-image-box-description {
    color: #000000;
    font-family: "Roboto Serif", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-45 .elementor-element.elementor-element-7178416.elementor-position-right .elementor-image-box-img {
    margin-left: 15px;
}

.elementor-45 .elementor-element.elementor-element-7178416.elementor-position-left .elementor-image-box-img {
    margin-right: 15px;
}

.elementor-45 .elementor-element.elementor-element-7178416.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px;
}

.elementor-45 .elementor-element.elementor-element-7178416 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%;
}

.elementor-45 .elementor-element.elementor-element-7178416 .elementor-image-box-img img {
    transition-duration: 0.3s;
}

.elementor-45 .elementor-element.elementor-element-7178416 .elementor-image-box-title {
    color: #1C00FE;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.elementor-45 .elementor-element.elementor-element-7178416 .elementor-image-box-description {
    color: #000000;
    font-family: "Roboto Serif", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.elementor-45 .elementor-element.elementor-element-07bc60d {
    --spacer-size: 30px;
}

.elementor-45 .elementor-element.elementor-element-2c9e55c {
    text-align: center;
}

.elementor-45 .elementor-element.elementor-element-2c9e55c .elementor-heading-title {
    color: #060606;
    font-family: "Roboto Serif", Sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.elementor-45 .elementor-element.elementor-element-253fec5 {
    text-align: center;
}

.elementor-45 .elementor-element.elementor-element-253fec5 .elementor-heading-title {
    color: #000000;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 300;
}

.elementor-45 .elementor-element.elementor-element-c36d412 {
    padding: 30px 30px 30px 30px;
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-pagination {
    justify-content: center;
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .tutor-course-list {
    column-gap: 32px;
    row-gap: 32px;
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .tutor-courses {
    justify-content: center;
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .tutor-course-card {
    background-color: #FCFFCD;
    border-style: double;
    border-color: #080808;
    border-radius: 50px;
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .tutor-course-card:hover {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #3000FF;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.97);
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .tutor-course-card .tutor-card-footer {
    border-top-color: #3D3D3D;
    background-color: #FFFFFF;
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .tutor-course-card .tutor-course-name,
.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .tutor-course-card .tutor-course-name a {
    color: #000000;
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .tutor-course-card .tutor-course-name {
    font-family: "Roboto Serif", Sans-serif;
    font-weight: 500;
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .tutor-course-card .etlms-course-category-meta.tutor-meta-key {
    color: var( --e-global-color-secondary);
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .etlms-course-list-pagination-wrap .etlms-pagination {
    gap: 10px;
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .tutor-course-card .tutor-course-price {
    font-family: "Verdana", Sans-serif;
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .tutor-course-card .tutor-card-footer .tutor-btn-outline-primary {
    font-weight: 600;
    color: #1109FF;
}

.elementor-45 .elementor-element.elementor-element-4725577 .etlms-course-list-main-wrap .tutor-course-card .tutor-card-footer .tutor-btn-outline-primary:hover {
    border-color: #0100FF;
    background-color: #0100FF;
    color: #FFFFFF;
}

.elementor-45 .elementor-element.elementor-element-9ae9823 .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
    border-style: double;
}

.elementor-45 .elementor-element.elementor-element-9ae9823 .elementor-button:hover,
.elementor-45 .elementor-element.elementor-element-9ae9823 .elementor-button:focus {
    color: #FFFFFF;
    background-color: #0C0C0C;
    border-color: #FF6700;
}

.elementor-45 .elementor-element.elementor-element-9ae9823 .elementor-button:hover svg,
.elementor-45 .elementor-element.elementor-element-9ae9823 .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-45 .elementor-element.elementor-element-08500f1 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-45 .elementor-element.elementor-element-08500f1 .elementor-divider-separator {
    width: 50%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-45 .elementor-element.elementor-element-08500f1 .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-45 .elementor-element.elementor-element-6b35f79:not(.elementor-motion-effects-element-type-background),
.elementor-45 .elementor-element.elementor-element-6b35f79>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ECEAFF;
}

.elementor-45 .elementor-element.elementor-element-6b35f79 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-45 .elementor-element.elementor-element-6b35f79>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-45 .elementor-element.elementor-element-40a9c9b>.elementor-element-populated {
    border-style: none;
    box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-45 .elementor-element.elementor-element-40a9c9b>.elementor-element-populated,
.elementor-45 .elementor-element.elementor-element-40a9c9b>.elementor-element-populated>.elementor-background-overlay,
.elementor-45 .elementor-element.elementor-element-40a9c9b>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-45 .elementor-element.elementor-element-40a9c9b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-45 .elementor-element.elementor-element-c8ec431 img {
    width: 40%;
}

.elementor-45 .elementor-element.elementor-element-6d23549 .elementor-counter-number-wrapper {
    color: #000000;
    font-family: "Roboto Serif", Sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.elementor-45 .elementor-element.elementor-element-6d23549 .elementor-counter-title {
    color: #000000;
}

.elementor-45 .elementor-element.elementor-element-7491e6a>.elementor-element-populated,
.elementor-45 .elementor-element.elementor-element-7491e6a>.elementor-element-populated>.elementor-background-overlay,
.elementor-45 .elementor-element.elementor-element-7491e6a>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-45 .elementor-element.elementor-element-7491e6a>.elementor-element-populated {
    box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-45 .elementor-element.elementor-element-a627a62 img {
    width: 40%;
}

.elementor-45 .elementor-element.elementor-element-5828a31 .elementor-counter-number-wrapper {
    color: #000000;
    font-family: "Roboto Serif", Sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.elementor-45 .elementor-element.elementor-element-5828a31 .elementor-counter-title {
    color: #000000;
}

.elementor-45 .elementor-element.elementor-element-120d5aa>.elementor-element-populated,
.elementor-45 .elementor-element.elementor-element-120d5aa>.elementor-element-populated>.elementor-background-overlay,
.elementor-45 .elementor-element.elementor-element-120d5aa>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-45 .elementor-element.elementor-element-120d5aa>.elementor-element-populated {
    box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-45 .elementor-element.elementor-element-a31ca98 img {
    width: 40%;
}

.elementor-45 .elementor-element.elementor-element-79a0c99 .elementor-counter-number-wrapper {
    color: #000000;
    font-family: "Roboto Serif", Sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.elementor-45 .elementor-element.elementor-element-79a0c99 .elementor-counter-title {
    color: #000000;
}

.elementor-45 .elementor-element.elementor-element-b6d42b9>.elementor-element-populated,
.elementor-45 .elementor-element.elementor-element-b6d42b9>.elementor-element-populated>.elementor-background-overlay,
.elementor-45 .elementor-element.elementor-element-b6d42b9>.elementor-background-slideshow {
    border-radius: 20px 20px 20px 20px;
}

.elementor-45 .elementor-element.elementor-element-b6d42b9>.elementor-element-populated {
    box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-45 .elementor-element.elementor-element-4b1f87b img {
    width: 40%;
}

.elementor-45 .elementor-element.elementor-element-3b33458 .elementor-counter-number-wrapper {
    color: #000000;
    font-family: "Roboto Serif", Sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.elementor-45 .elementor-element.elementor-element-3b33458 .elementor-counter-title {
    color: #000000;
}

@media(max-width:767px) {
    .elementor-45 .elementor-element.elementor-element-5291577 .elementor-heading-title {
        font-size: 18px;
    }
    .elementor-45 .elementor-element.elementor-element-42217b2 .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-45 .elementor-element.elementor-element-14b3c1c .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-45 .elementor-element.elementor-element-7178416 .elementor-image-box-img {
        margin-bottom: 15px;
    }
    .elementor-45 .elementor-element.elementor-element-2c9e55c .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-45 .elementor-element.elementor-element-253fec5 .elementor-heading-title {
        font-size: 12px;
    }
    .elementor-45 .elementor-element.elementor-element-d96413e {
        width: 100%;
    }
    .elementor-bc-flex-widget .elementor-45 .elementor-element.elementor-element-d96413e.elementor-column .elementor-widget-wrap {
        align-items: center;
    }
    .elementor-45 .elementor-element.elementor-element-d96413e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center;
    }
    .elementor-45 .elementor-element.elementor-element-40a9c9b {
        width: 50%;
    }
    .elementor-45 .elementor-element.elementor-element-7491e6a {
        width: 50%;
    }
    .elementor-45 .elementor-element.elementor-element-120d5aa {
        width: 50%;
    }
    .elementor-45 .elementor-element.elementor-element-b6d42b9 {
        width: 50%;
    }
}